html,body {
	
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position:relative;
  background: #c3e6fa;
}

#home_video  {
  width:1000px; position:absolute; left:50%; margin-left:-500px; box-shadow:0px 0px 6px rgba(0,0,0,0.6); -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.6); -moz-box-shadow:0px 0px 6px rgba(0,0,0,0.6);
}