<!DOCTYPE HTML>
<html>
<head>
	<!-- standard jquery -->
	<script src="../js/jquery-2.1.3.min.js" type="text/javascript"></script>

	<!-- core files -->
	<link rel="stylesheet" href="../css/operation4.css" />
	<script type="text/javascript" src="../js/operation4.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>治療完成下機</title>
<style type="text/css">
</style>
</head>
<body>
	<div id="main">
	<a href="operation.html"><img id="previous" src="../resources/images/treat_intro/Previous.imageset/a.png"></a>

	<a href="#" id="btnGo"><img id="btnImgGo" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/PSPanelGo.imageset/a.png"></a>
	<a href="#" id="btnStop"><img id="btnImgStop" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/PSPanelStop.imageset/a.png"></a>
	<a href="#" id="btnEnter"><img id="btnImgEnter" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/PSPanelEnter.imageset/a.png"></a>
	<a href="#" id="btnUp"><img id="btnImgUp" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/Panel_menu_up.imageset/a.png"></a>
	<a href="#" id="btnDown"><img id="btnImgDown" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/Panel_menu_down.imageset/a.png"></a>

	<a href="#" id="btnRestart"><img id="btnImgRestart" src="../resources/images/operatorhelp/MENU.imageset/a.png"></a>
	<a href="#" id="btnPower"><img id="btnImgPower" src="../resources/images/operatorhelp/PowerOn_Select.imageset/a.png"></a>

	<a href="#" id="btnLastStep"><img id="btnImgLastStep" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/content_menu_back.imageset/a.png"></a>
	<a href="#" id="btnNextStep"><img id="btnImgNextStep" src="../resources/images/operatorhelp/prescriptsetmenu/prescriptset/content_menu_next.imageset/a.png"></a>

	<div class="ps" id="p1"><p>治療完成</p></div>
	<div class="ps" id="p2"><p>關閉所有管夾</p></div>
	<div class="ps" id="p3"><p>分離管組與自己</p></div>
	<div class="ps" id="p4"><p>關機</p></div>
	<div class="ps" id="p5"><p>紀錄0週期引流量</p></div>
	<div class="ps" id="p6"><p>紀錄總脫水量</p></div>
	<div class="ps" id="p7"><p>紀錄平均留置時間</p></div>

	<img id="introImg" src="../resources/images/operatorhelp/treatbeforeprepare/TBP_Snap_Home.imageset/a.png">	

	<div id="contentWordDiv">
		<p id="contentWord">連接電源，開啟開關</p>
	</div>

	<div id="screenWordDiv">
		<p id="screenContentWord"></p>
	</div>

	<audio id="nurseAudio">
  		<source src="../resources/audio/nurse/ch/poweron.mp3" type="audio/mpeg">
	</audio>

	<audio id="beep">
  		<source src="../resources/audio/beep.mp3" type="audio/mpeg">
	</audio>
	</div>
	<div class="footer">建議使用 Google Chrome 或 IE10+ 以上版本的瀏覽器觀看</div>
</body>
</html>
