<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注意引流量嚴重不足</title>
<link href="css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
</head>

<body>
<div id="main12">
<a href="warning.html" onmouseout="MM_swapImgRestore()"><img src="images/back.png" name="Image217" id="Image217" class="backFormat" /></a>
<table width="80%" border="0" cellspacing="0" cellpadding="6" class="LineCenter">
  <tr>
    <td width="33%">&nbsp;</td>
  </tr>
  <tr>
    <td class="h31">螢幕顯示:</td>
  </tr>
  <tr>
    <td>
    <ul id="button">    	
		<li style="width:35%;">注意： 引流量嚴重不足 </li>               
    </ul></td>
  </tr>
  <tr>
    <td class="h31">原因:</td>
  </tr>
  <tr>
    <td class="warning">您在本週期或數個週期裡，腹腔存留了超過50%的透析液注入量。<br />
這是手控重新啟動警訊。
</td>
  </tr>
  <tr>
    <td class="h33">修正方式：</td>
  </tr>
  <tr>
    <td class="warning">1. 按<img src="images/red.png" width="47" height="38" align="absmiddle" />紅色鍵將警訊靜音。</td>
  </tr>
  <tr>
    <td class="warning">2. 啟動 [手控引流]。</td>
  </tr>
  <tr>
    <td class="warning">3. 更改您的身體位置。</td>
  </tr>
  <tr>
    <td class="warning">4. 按<img src="images/green.png" width="39" height="36" align="absmiddle" />綠色鍵繼續治療。</td>
  </tr>
  <tr>
    <td class="warning">如警訊持續發生，請與您的透析中心聯絡。 <br />
      除非得到您的透析中心指示，否則請勿略過此警訊。 <br />
    此警訊僅能略過一次。</td>
  </tr>
  <tr>
    <td><span class="h32">警告:</span></td>
  </tr>
  <tr>
    <td class="warning">略過[注意：引流量嚴重不足 ]警訊可能會將透析液留
    置於腹腔中，並造成腹腔內透析液增加(IIPV )的情況。IIPV可能會導致腹部不適;若處理不當，可能會引致嚴重後果。</td>
  </tr>
  <tr>
    <td class="warning">&nbsp;</td>
  </tr>
</table>
</div>
<div class="footer">建議使用 Google Chrome 或 IE10+ 以上版本的瀏覽器觀看</div>
</body>
</html>
